<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="net.sourceforge.aprilui.demoGui.winrt" Publisher="CN=AprilUI" Version="3.1.4.0" />
  <Properties>
    <DisplayName>AprilUI Demo GUI</DisplayName>
    <PublisherDisplayName>AprilUI</PublisherDisplayName>
    <Logo>media\assets\store_icon.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en" />
    <Resource Language="de" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="demo_gui.App">
      <VisualElements DisplayName="demo_gui" Logo="media\assets\logo_icon.png" SmallLogo="media\assets\small_icon.png" Description="AprilUI Demo GUI" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="media\assets\splash.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>