<?xml version="1.0" ?>
<Dataset>

	<Include path="texture.tex"/>

	<Container name="root" rect="0,0,800,600">
		<ImageBox image="texture/ctest" rect="0,0,800,600"/>
	</Container>
	
</Dataset>
