<?xml version="1.0" ?>
<Dataset>

	<Include path="texture.tex"/>
	
	<Container name="root" rect="0,0,800,600">
		<ImageBox image="texture/tile" rect="32,32,736,536"/>
	</Container>
	
</Dataset>
